*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #6FD7EC, #023E8A);
}
.container{
    width: 100%;
    padding: 0 2em;
    margin: 0 auto;
}
.heading{
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.2em;
    color: goldenrod;
    letter-spacing: 5px;
}
.box{
    width: 100%;
    margin: 0 auto;
}
.balance{
    padding-top: 0.2em;
    width: 100%;
    color: #FFFFFF;
}
.balance h2{
    letter-spacing: 3px;
}
.balance h3{
    font-size: 30px;
}
.IncomeExpense{
    margin: 0.2em auto;
    margin-top: 1em !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.income, .expense{
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.income{
    color: #09814A;
}
.expense{
    color: #D62828;
}
.addtransaction{
    color: #FFFFFF;
    width: 100%;
    font-size: 18px;
}
.addtransaction h3{
    text-transform: uppercase;
}
.addtransaction .description, .amount{
    width: 100%;
    font-weight: bold;
}
.addtransaction .description input, .amount input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}
.addtransaction form button{
    padding: 10px 20px;
    width: 100%;
    margin-top: 0.2em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: goldenrod;
    border: none;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
.history{
    margin-top: 0.2em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.transactions{
    list-style: none;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    font-size: 18px;
}
.transactions li{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-weight: bolder;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}
.transactions li.positive{
    background-color: #09814A;
}
.transactions li.negative{
    background-color: #D62828;
}
.transactions li span{
    width: 100%;
}
.transactions li button{
    color: #FFFFFF;
    width: 100px;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.noTransaction{
    color: white;
    text-align: center;
}
@media (max-width: 430px){
    h1{
        font-size: 20px;
    }
    h3,h4{
        font-size: 18px;
    }
    p,li,label,input{
        font-size: 15px;
    }
}